{% extends "base.html" %}
{% block title %}{{ b.person_last_name }} {{ b.person_first_name }}{% endblock %}
{% block content %}
<section class="s-title-02">
    <div class="s-title-02__container container">
        <div class="s-title-02__row row">
            <div class="s-title-02__col col-12">
                <div class="c-prevstep">
                    <a href="/beneficiaries" class="btn btn-ico btn-link ps-0">
                        <i class="ri-arrow-drop-left-line ri-xl fw-medium" aria-hidden="true"></i>
                        <span>Retour à la liste</span>
                    </a>
                </div>
                <div class="c-title">
                    <div class="c-title__main">
                        <h1>
                            {{ b.person_last_name }} {{ b.person_first_name }}
                            {% if b.modalite %}
                            <span class="badge rounded-pill text-nowrap badge-base bg-info-lighter text-info">{{ b.modalite }}</span>
                            {% elif structure %}
                            <span class="badge rounded-pill text-nowrap badge-base bg-info-lighter text-info">{{ structure.name }} ({{ structure.type_acronym }})</span>
                            {% endif %}
                        </h1>
                    </div>
                    <div class="c-title__actions d-flex gap-2">
                        <a href="/beneficiary/{{ b.id }}/recommendations" class="btn btn-primary btn-ico">
                            <i class="ri-compass-line fw-medium" aria-hidden="true"></i>
                            <span>Prescrire une solution</span>
                        </a>
                    </div>
                </div>

                {# Tabs #}
                <ul class="s-tabs-01__nav nav nav-tabs mb-0" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info"
                           role="tab" aria-controls="info" aria-selected="true">
                            Informations générales
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="diagnostic-tab" data-bs-toggle="tab" href="#diagnostic"
                           role="tab" aria-controls="diagnostic" aria-selected="false">
                            Diagnostic
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="prescriptions-tab" data-bs-toggle="tab" href="#prescriptions"
                           role="tab" aria-controls="prescriptions" aria-selected="false">
                            Prescriptions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="s-section">
    <div class="s-section__container container">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                {% include "includes/general_info.html" %}
            </div>
            <div class="tab-pane fade" id="diagnostic" role="tabpanel" aria-labelledby="diagnostic-tab">
                {% include "includes/diagnostic.html" %}
            </div>
            <div class="tab-pane fade" id="prescriptions" role="tabpanel" aria-labelledby="prescriptions-tab">
                {% include "includes/prescriptions.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
